<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Business Operations Order ~</title>
	<link rel="stylesheet" href="http://www.cbcoffee.cn/sharedcoffee/asset/css/reset.css" />

	<link rel="stylesheet" href="mui.min.css">
	<link rel="stylesheet" type="text/css" href="occ.css" />

	<script src="http://www.cbcoffee.cn/manage/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="//at.alicdn.com/t/font_1049864_f08v22zq095.js"></script>
</head>

<body>
	<div class="c-container-body" style="display:none;">
		<div class="c-backups-land land ">
			<div class="c-land-logo">
				<img src="/sharedcoffeeCode/image/icons/logo.png" />
			</div>
			<form method="post">
				<div class="c-land">
					<div class="c-land-input">
						<ul>
							<li>
								<span></span>
								<input type="text" placeholder="账号" name="user" id="user" value="" />
							</li>
							<li>
								<span></span>
								<input type="password" placeholder="密码" name="pwd" id="pwd" value="" />
							</li>
							<!-- <li>
								缓存密码？
								<div class="mui-switch mui-switch-mini mui-active">
									<div class="mui-switch-handle"></div>
								</div>
							</li> -->
						</ul>
					</div>
					<div id="coffeeLogin" class="c-click-submit"
						data-click='{"name":"c-land","key":"101859107-905758"}'>
						提交
					</div>
				</div>
			</form>
		</div>
		<div class="c-footer-icon">
			<img src="../public/images/icons/load_icon.png" alt="蜗牛" />
			<div class="c-garden-snail-icon">

			</div>
			<div class="c-garden-snail-icon">

			</div>
		</div>
		<div class="c-title-wz">
			王者专享
		</div>
	</div>

	<div class="module"></div>

	<div style="display:none;" id="offCanvasWrapper"
		class="mui-off-canvas-wrap mui-draggable  mui-scalable ben-side-header">
		<aside id="offCanvasSide" class="mui-off-canvas-left">
			<div id="offCanvasSideScroll" class=" mui-scroll-wrapper">
				<div class="mui-scroll">
					<header class="mui-bar mui-bar-nav off-nav ym_header">
						<a href="#offCanvasSide" class="mui-icon icon-size20  mui-pull-left close-icon ">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#ym-icon-guanbi"></use>
							</svg>
						</a>
						<h1 class="mui-title"><img src="/sharedcoffeeCode/image/icons/logo.png" style="width:38px;" />
						</h1>
					</header>

					<ul class="mui-table-view mui-table-view-inverted ym-menu-tag">
						<li class="mui-table-view-cell">
							<a href="./aceorder.htm"><span>
									<svg class="icon" aria-hidden="true">
										<use xlink:href="#ym-icon-dingdan"></use>
									</svg>
									支付订单 </span></a>
						</li>
						<li class="mui-table-view-cell">
							<a href="./refund_order.htm"><span>
									<svg class="icon" aria-hidden="true">
										<use xlink:href="#ym-icon-tuikuan"></use>
									</svg>
									退款订单</span></a>
						</li>
						<li class="mui-table-view-cell">
							<a href="./aceorder.htm" id="_goback"><span>
									<svg class="icon" aria-hidden="true">
										<use xlink:href="#ym-icon-tuichu"></use>
									</svg>
									退出登陆</span></a>
						</li>
					</ul>
				</div>
			</div>
		</aside>
		<div class="mui-inner-wrap">
			<header class="mui-bar mui-bar-nav ym_header">
				<a href="#offCanvasSide" class="mui-icon mui-pull-left icon-size20 more-icon">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#ym-icon-caidan"></use>
					</svg>
				</a>
				<h1 class="mui-title"><img src="/sharedcoffeeCode/image/icons/logo.png" style="width:38px;" /></h1>
				<div class="mui-icon icon-size20  mui-pull-left close-icon " style="float:right;" id="search">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#ym-icon-sousuo"></use>
					</svg>
				</div>
				<div class="mui-input-row mui-search" id="search_ui" style="display:none;">
					<input type="search" id="search_val" class="mui-input-clear" placeholder=""
						style="background:rgba(0,0,0,0.5);width:100%;height:40px;line-height:40px;">
				</div>
			</header>
			<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper mui-fullscreen"
				style="padding-top:46px;">
				<div class="mui-scroll">
					<div id="mui-message">

					</div>
				</div>
			</div>
			<div class="mui-scrollbar mui-scrollbar-vertical" style="transition-duration: 500ms; opacity: 0;">
				<div class="mui-scrollbar-indicator"
					style="transition-duration: 0ms; display: block; height: 48px; transform: translate3d(0px, 549px, 0px) translateZ(0px); transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);">
				</div>
			</div>
			<div class="mui-off-canvas-backdrop"></div>
		</div>

	</div>

	<div id="orderdetail" style="display:none">
			<div class="orderdetail_box">

			</div>
		</div>
	
	<script src="mui.min.js"></script>
	<script type="text/javascript">
		function _changeFn() { };
		var ace = {
			package: {
				uri: {
					dress: 'http://mapi.cbcoffee.cn/',
					clothes: 'http://test.cbcoffee.cn:8080/'
				},
				w: jQuery('.c-footer-icon img').width() / 3,
				h: jQuery('.c-footer-icon img').height() / 3,
				user: document.getElementById("user"),
				password: document.getElementById("pwd"),
				btn: document.getElementById("coffeeLogin"),
				dom: {
					garden: jQuery('.c-footer-icon'),
					eye: jQuery('.c-garden-snail-icon')
				},
				bool: false,
				loading: `<div class="k-ball7a"><\/div><div class="k-ball7b"><\/div><div class="k-ball7c"><\/div><div class="k-ball7d"><\/div>`,
				acDom: document.createElement('div'),
				orderList: {},
				body: {
					// DIV: `<div class="order-body"><div class="active-list"><\/div><div class="footer"><div class="menu-search" data-click=false><span class="menu">菜单<\/span><ul><li class="search"><div class="search-input"><input id=search type=text placeholder="输入订单号" \/><div onclick=ace.orderactive({PAGE:1,NAME:jQuery('#search').val()})>搜索<\/div><\/div><\/li><li class="_goHome">返回首页<\/li><li class="_gobreak">切换账号<\/li><\/ul><\/div><\/div><\/div>`
				},
				page: 1
			},
			ui: function () {
				switch (typeof arguments[0]) {
					case 'object':
						setTimeout(function () {
							jQuery('.module').fadeOut(100);
							ace.package.bool = false;
							ace.package.btn.innerHTML = '提交';
						}, arguments[0].delay);
						break;
					default:
						console.log('state error');
				}
				ace.package.dom.garden.children('img').css({
					height: ace.package.h,
					width: ace.package.w
				});
				jQuery('body').off().delegate('.active-list ul', 'click', function (e) {
					if (jQuery(this).attr('data-anicy') == "false") {
						jQuery(this).attr('data-anicy', true).children('div').fadeIn();
						jQuery(this).siblings('ul').attr('data-anicy', false).children('div').fadeOut();
					} else {
						jQuery(this).attr('data-anicy', false).children('div').fadeOut();
						jQuery(this).siblings('ul').attr('data-anicy', false);
					}
				});
				jQuery('body').delegate('.menu', 'click', function () {
					jQuery(this).parent('div').find('li').fadeToggle();
					ace._change();
					if (jQuery('.menu-search').css('position') == 'absolute') {
						jQuery('.active-list').animate({ 'marginTop': '160px' }, 500);
					}
					if (jQuery('.search').css('opacity') === '1') { jQuery('.active-list').animate({ 'marginTop': '50px' }, 500); }
				});
				jQuery('body').delegate('._gobreak', 'click', function () {
					ace._callback();
				});
				jQuery('body').delegate('._goHome', 'click', function () {
					window.location.href = window.location.href + "?delay=" + new Date().getTime();
				});
				jQuery(window).scroll(function () {
					if (jQuery(document).scrollTop() > 50) {
						jQuery('.menu-search').css({ 'position': 'fixed' });
						jQuery('.active-list').css('marginTop', '50px');
					} else {
						jQuery('.menu-search').css({ 'position': 'absolute' });
					}
				});
			},
			init: function () {
				ace.ui();
				ace.package.btn.onclick = function () {
					ace.package.bool == false ? ace.load(70) : null;
				}
				jQuery.ajaxSetup({
					dataType: 'JSON',
					async: false,
					type: 'POST'
				});
				sessionStorage.getItem('secretkey') ? ~function () {
					ace.package.bool = true;
					ace.orderactive({ PAGE: ace.package.page, DELAY: 0, NAME: '' });
				}() : jQuery('.c-container-body').fadeIn();
			},
			load: function () {
				ace.package.acDom.innerHTML = `<div class="k-ball-holder" style="position:absolute;left:${arguments[0] / 2}%;top:${arguments[0] / 4}%;">${ace.package.loading}</div>`;
				ace.package.btn.append(ace.package.acDom);
				ace.package.bool = true;
				jQuery.ajax({
					url: ace.package.uri.dress + 'admin_login',
					data: `adminName=${ace.package.user.value}&adminPwd=${ace.package.password.value}`
				})
					.done(function (res) {
						switch (res.statusCode.status) {
							case 2000:
								sessionStorage.setItem('secretkey', JSON.stringify({
									ID: res.id,
									TOKEN: res.token
								}));
								setTimeout(function () {
									ace.orderactive({
										PAGE: ace.package.page,
										ID: res.id,
										TOKEN: res.token,
										DELAY: 1000,
										NAME: ''
									});
									$(".c-container-body").css({ '-webkit-animation': "bounceIn 0.5s .25s ease both", '-moz-animation': 'bounceIn 1s .25s ease both', 'animation': 'bounceIn 0.5s .25s ease both' }).fadeOut(2000);
									jQuery('#offCanvasWrapper').fadeIn(500);
								}, 1000);
								break;
							case 999:
								ace.package.bool = false;
								setTimeout(function () {
									jQuery('.module').show().text(res.statusCode.msg);
								}, 1000);
								ace.ui({
									delay: 3000
								});
								break;
							default:
								ace.package.bool = false;
								console.log('异常错误');
								jQuery('.module').fadeIn().text(res.statusCode.msg);
						}
					})
			},
			orderactive: function () {
				var arg = arguments[0];
				jQuery.ajax({
					url: ace.package.uri.dress + 'find_order_list',
					data: `name=${JSON.stringify(arg.NAME)}&page=${arg.PAGE}&url=\/manage\/orderList.html&type=1&id=${JSON.parse(sessionStorage.getItem('secretkey')).ID}&token=${JSON.parse(sessionStorage.getItem('secretkey')).TOKEN}`,
					async: true
				})
					.done(function (res) {
						switch (res.statusCode.status) {
							case 6666:
								setTimeout(function (e = "") {
									ace.package.bool == true || arg.NAME ? ~function () {
										jQuery('#offCanvasWrapper').fadeIn(500);
										jQuery('.c-container-body').hide();
										jQuery('.mui-pull-bottom-pocket').remove();
									}() : null;
									for (let i = 0; i < res.orders.length; i++) {
										// <div class="m-page-order">${arg.PAGE > 1 ? parseInt(arg.PAGE + i) : i + 1}</div>
										e += `<div class="m-order-list" data-order=${res.orders[i].orderId}  style=background:rgba(10,${i * Math.random()},0,1)>
												<div class="m-order-number">
													${res.orders[i].paymentMoney.split('.')[0]}<em>.${res.orders[i].paymentMoney.split('.')[1].substring(0, 2)}</em>
												</div>
												<div class="m-order-message">
													<p>订单号：${res.orders[i].orderId.replace(/(.{5}).*(.{3})/, "$1******$2")}</p>
													<p>消费金额：${parseFloat(res.orders[i].spendingMoney).toFixed(2)}</p>
													<p>支付类型：${res.orders[i].paymentType}</p>
													<p>消费方式：${res.orders[i].consumptionType}</p>
													<p>订单状态：${res.orders[i].orderStatus}</p>
													<p>创建时间：${res.orders[i].createTime}</p>
													<p>交易时间：${res.orders[i].paymentTime}</p>
												</div></div>`;
									}
									ace.package.bool = false;
									if (jQuery('#search_val').val()) {
										jQuery('#mui-message').html(e);
									} else {
										jQuery('#mui-message').append(e);
									}
									jQuery('.more').on('click', function () {
										jQuery(this).append(`<div class="k-ball-holder" style="position:absolute;left:30%;top:30%;">${ace.package.loading}</div>`);
										ace.orderactive({ PAGE: arg.PAGE + 1, DELAY: 1000, NAME: arg.NAME });
									});
									jQuery('.refund-span').on('click', function (e) {
										e.stopPropagation();
										ace._refund();
									});
									let h = jQuery('.m-order-number').parent().height();
									jQuery('.m-order-number').css({ marginTop: h / 2.5, marginLeft: h / 4 });
								}, arg.DELAY);
								sessionStorage.setItem('page', parseInt(arg.PAGE) + 1);
								break;
							case 4444:
								console.log('this is null code~');
								jQuery('.module').fadeIn().text(res.statusCode.msg);
								jQuery('.active-list').html('<span class="empty">Query data is empty</span>');
								jQuery('.more').on('click', function () {
									jQuery(this).append(`<div class="k-ball-holder" style="position:absolute;left:30%;top:30%;">${ace.package.loading}</div>`);
									ace.orderactive({ PAGE: 1, DELAY: 0, NAME: '' });
								}).text('返回');
							default:
								console.log('订单系统异常');
								jQuery('.module').show().text(res.statusCode.msg);
								setTimeout(() => {
									jQuery('.module').hide()
								}, 2000);
								return false;

						}
					});
			},
			order_back: function () {
				var arg = arguments[0];
				jQuery.ajax({
					url: ace.package.uri.dress + 'refund_order_list',
					data: `name=${arg.NAME}&page=${arg.PAGE}&url=\/manage\/refundOrder.html&id=${JSON.parse(sessionStorage.getItem('secretkey')).ID}&token=${JSON.parse(sessionStorage.getItem('secretkey')).TOKEN}`,
					async: true
				})
					.done(function (res) {
						switch (res.statusCode.status) {
							case 6666:
								setTimeout(function (e = "") {
									ace.package.bool == true || arg.NAME ? ~function () {
										jQuery('#offCanvasWrapper').fadeIn(2000);
										jQuery('.c-container-body').hide();
										jQuery('.mui-pull-bottom-pocket').remove();
									}() : null;
									for (let i = 0; i < res.orders.length; i++) {
										e += `<div class="m-order-list" data-order=${res.orders[i].orderId}>
												<div class="m-page-order">${arg.PAGE > 1 ? parseInt(arg.PAGE + (i + 1)) : (i + 1)}</div>
												<div class="m-order-number">
													${res.orders[i].paymentMoney.split('.')[0]}<em>.${res.orders[i].paymentMoney.split('.')[1].substring(0, 2)}</em>
												</div>
												<div class="m-order-message">
													<p>订单号：${res.orders[i].orderId.replace(/(.{5}).*(.{3})/, "$1******$2")}</p>
													<p>消费金额：${parseFloat(res.orders[i].spendingMoney).toFixed(2)}</p>
													<p>支付类型：${res.orders[i].paymentType}</p>
													<p>消费方式：${res.orders[i].consumptionType}</p>
													<p>订单状态：${res.orders[i].orderStatus}</p>
													<p>创建时间：${res.orders[i].createTime}</p>
													<p>交易时间：${res.orders[i].paymentTime}</p>
												</div></div>`;
									}
									ace.package.bool = false;
									jQuery('#mui-message').append(e);
									jQuery('.more').on('click', function () {
										jQuery(this).append(`<div class="k-ball-holder" style="position:absolute;left:30%;top:30%;">${ace.package.loading}</div>`);
										ace.order_back({ PAGE: arg.PAGE + 1, DELAY: 1000, NAME: arg.NAME });
									});
									jQuery('.refund-span').on('click', function (e) {
										e.stopPropagation();
										ace._refund();
									});
								}, arg.DELAY);
								sessionStorage.setItem('page', parseInt(arg.PAGE) + 1);
								break;
							case 4444:
								console.log('this is null code~');
								jQuery('.active-list').html('<span class="empty">Query data is empty</span>');
								jQuery('.more').on('click', function () {
									jQuery(this).append(`<div class="k-ball-holder" style="position:absolute;left:30%;top:30%;">${ace.package.loading}</div>`);
									ace.order_back({ PAGE: 1, DELAY: 0, NAME: '' });
								}).text('返回');
							default:
								console.log('订单系统异常');
								jQuery('.module').show().text(res.statusCode.msg);
								setTimeout(() => {
									jQuery('.module').hide()
								}, 2000);
								return false;

						}
					});
			},
			_refund: function () {
				var arg = arguments[0], firm = confirm('退款前请核对信息无误！是否执行退款？');
				firm == true ? void function () {
					jQuery.ajax({
						url: ace.package.uri.dress + 'order_refund',
						data: `${jQuery('.refund-span').attr('data-value')}&url=\/manage\/orderList.html&id=${JSON.parse(sessionStorage.getItem('secretkey')).ID}&token=${JSON.parse(sessionStorage.getItem('secretkey')).TOKEN}`,
					})
						.done(function (res) {
							jQuery('body').append('<div class="module"></div>');
							jQuery('.module').show().text(res.statusCode.msg);
							ace.ui({
								delay: 3000
							});
						})
				}() : null;
			},
			_change: function () {
				Function.prototype.extends = function (fn, delay) {
					var delay = delay || 800, timer;
					return function () {
						var fthis = this, arg = arguments;
						if (timer) clearTimeout(timer);
						timer = setTimeout(function () {
							timer = null;
							fn.apply(fthis, arg);
						}, delay);
					}
				}
				document.getElementById('search').addEventListener('input', _changeFn.extends(function () {
					ace.orderactive({ PAGE: 1, NAME: this.value })
				}), 2000);
			},
			_callback: function () {
				sessionStorage.clear();
				window.location.href = window.location.href + "?delay=" + new Date().getTime();
			}
		}
		ace.init();

		mui.init({
			pullRefresh: {
				container: "#offCanvasContentScroll",//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
				up: {
					callback: function () {
						this.endPullupToRefresh(false);
						var page = ace.orderactive({
							ID: JSON.parse(sessionStorage.getItem('secretkey')).ID,
							TOKEN: JSON.parse(sessionStorage.getItem('secretkey')).TOKEN,
							PAGE: sessionStorage.getItem('page') ? sessionStorage.getItem('page') : 1,
							NAME: ''
						});
					}// this.endPullupToRefresh(true);
				}
			}
		});
		//主界面和侧滑菜单界面均支持区域滚动；
		mui('#offCanvasContentScroll').scroll({
			indicators: false, //是否显示滚动条
			deceleration: 0.005, //阻尼系数,系数越小滑动越灵敏
		});
		mui('#offCanvasContentScroll').scroll({
			indicators: true, //是否显示滚动条
			deceleration: 0.005, //阻尼系数,系数越小滑动越灵敏
			bounce: true //是否启用回弹
		});
		let mbo = true;
		mui('body').on('tap', '#search', function () {
			if (mbo) {
				mbo = false;
				jQuery('#search_ui').fadeIn();
				jQuery('#offCanvasContentScroll').animate({
					'padding-top': '99px'
				}, 300);
			} else {
				mbo = true;
				jQuery('#search_ui').fadeOut();
				jQuery('#offCanvasContentScroll').animate({
					'padding-top': '46px'
				}, 300);
			}
		});
		mui('body').on('tap', 'a', function () { document.location.href = this.href; }); //处理a标签跳转页面
		mui('body').on('tap', '#_goback', function () { sessionStorage.clear(); jQuery('#offCanvasWrapper').hide(); jQuery('.c-container-body').show() }); //处理a标签跳转页面
		ace._change();
		document.getElementById('search_val').addEventListener('input', _changeFn.extends(function () {
			ace.orderactive({ PAGE: 1, NAME: { orderId: this.value } })
		}), 2000);
		mui('body').on('tap', '.m-order-list', function (e) {
			jQuery('#orderdetail').fadeIn(500);
			jQuery.ajax({
				url: ace.package.uri.dress + 'order_detail',
				data: `orderId=${jQuery(this)[0].dataset.order}&url=\/manage\/orderList.html&id=${JSON.parse(sessionStorage.getItem('secretkey')).ID}&token=${JSON.parse(sessionStorage.getItem('secretkey')).TOKEN}`,
			})
				.done(function (res) {
					jQuery('#mui-message').fadeOut();
					jQuery('.orderdetail_box').html(
						`<h3>￥${parseFloat(res.detail.paymentMoney).toFixed(2)}</h3>
						<p><em>订单号：</em>${res.detail.orderId}</p>
						<p><em>消费金额：</em>${res.detail.userId}</p>
						<p><em>支付类型：</em>${res.detail.nickName}</p>
						<p><em>消费方式：</em>${res.detail.headPicUrl}</p>
						<p><em>订单状态：</em>${res.detail.machineNumber}</p>
						<p><em>创建时间：</em>${res.detail.machineType}</p>
						<p><em>交易时间：</em>${res.detail.adminId}</p>
						<p><em>消费金额：</em>${res.detail.adminName}</p>
						<p><em>支付类型：</em>${res.detail.paymentType}</p>
						<p><em>消费方式：</em>${res.detail.spendingMoney}</p>
						<p><em>订单状态：</em>${res.detail.paymentMoney}</p>
						<p><em>创建时间：</em>${res.detail.productId}</p>
						<p><em>交易时间：</em>${res.detail.productName}</p>
						<p><em>创建时间：</em>${res.detail.flavorShow}</p>
						<p><em>交易时间：</em>${res.detail.couponName}</p>
						<p><em>消费金额：</em>${res.detail.consumptionType}</p>
						<p><em>支付类型：</em>${res.detail.orderStatus}</p>
						<p><em>消费方式：</em>${res.detail.redeemCode}</p>
						<p><em>订单状态：</em>${res.detail.paymentTime}</p>
						<p><em>创建时间：</em>${res.detail.createTime}</p>
						<p><em>交易时间：</em>${res.detail.orderType}</p>
						<p><em>交易时间：</em>${res.detail.refundId}</p>
					`);
				})
		})
		// mui-message

	</script>
</body>

</html>