<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="共享咖啡管理后台">
	<meta name="keywords" content="yuanmeng,ym,圆梦,系统,后台系统,咖啡蜗,蜗牛,大正集团">
	<meta name="renderer" content="webkit">

    <title>广东圆梦实业发展有限公司</title>

    <!-- CSS -->
    <link rel="icon" href="img/bitbug_favicon.ico" type="image/x-icon" />
    <style>
        html,body{
            height: 100%;
        }
    </style>

</head>

<body style="background: #fff">
    <h4 style="text-align:center;margin-top:20%;font-size:3rem;">欢迎使用圆梦智能设备云端管理平台</h4>
    <!-- <h5 style="text-align:center;margin-top:20%;font-size:2.5rem;">Welcome to Cloud Management Platform for <br />Dream Intelligent Devices</h5>  -->
</body>

</html>