<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="共享咖啡管理后台">
    <meta name="keywords" content="yuanmeng,ym,圆梦,系统,后台系统,咖啡蜗,蜗牛,大正集团">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../public/stylesheets/plugin/element.min.css">
    <script src="../../public/javascripts/plugin/vue.js"></script>
    <script src="../../public/javascripts/plugin/element.min.js"></script>

    <title>广东圆梦实业发展有限公司</title>
</head>

<body class="_scrollbar">
    <div id="c-container-list" style="height: 100%;" data-uri="all_machine_statistics_list"
        data-child-uri="/manage/chartsMacchineNew.html" v-loading.fullscreen.lock="loading">
        <el-container>
            <el-main>
                <el-form>
                    <el-input placeholder="请输入内容" v-model="chartsSearch._value_" class="_searchVal">
                        <el-select v-model="chartsSearch._name_" class="_searchVal_select" slot="prepend"
                            placeholder="请选择">
                            <el-option label="商户ID" value="adminId"></el-option>
                            <el-option label="商户账号" value="adminName"></el-option>
                            <el-option label="商户真名" value="realName"></el-option>
                        </el-select>
                    </el-input>
                    <div class="_search_centent">
                        <el-button>设备类型</el-button>
                        <el-select v-model="chartsSearch.machineType" slot="prepend" placeholder="请选择">
                            <el-option label="大型柜式机" :value="1"></el-option>
                            <el-option label="小型桌面机" :value="2"></el-option>
                        </el-select>
                    </div>
                    <div class="_search_centent">
                        <el-button>是否含测试</el-button>
                        <el-select v-model="chartsSearch.hasTest" slot="prepend" placeholder="请选择">
                            <el-option label="不包含" :value="0"></el-option>
                            <el-option label="包含" :value="1"></el-option>
                        </el-select>
                    </div>
                    <div style="margin: 10px 0">
                        <el-date-picker v-model="chartsSearch._time_" type="daterange" align="right" unlink-panels
                            range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"
                            :picker-options="pickerOptions" @change="newGetTime">
                        </el-date-picker>
                    </div>

                    <el-button icon="el-icon-search" class="_search_btn" @click="charts(chartsSearch)">搜索
                    </el-button>
                </el-form>

                <el-form>
                    <div id="echartsCanvasMachineNew" style="height: 600px"></div>
                </el-form>
            </el-main>
        </el-container>
    </div>
</body>

</html>