<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="js/config/config.js"></script>
  <title>Dowload</title>
</head>
<body>
    <script type="text/javascript">
        if(getQueryString("ex")){
          // window.location.href = getQueryString("ex");
          console.log(getQueryString("ex"));
        };
    </script>
</body>
</html>
