<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="format-detection" content="telephone=no">
	<meta charset="UTF-8">

	<meta name="description" content="Violate Responsive Admin Template">
	<meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

	<title>广东圆梦实业发展有限公司</title>

	<!-- CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/animate.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/form.css" rel="stylesheet">
	<link href="css/calendar.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/icons.css" rel="stylesheet">
	<link href="css/generics.css" rel="stylesheet">
	<link rel="icon" href="img/bitbug_favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="page/paging.css" />
	<!-- select css -->
	<link rel="stylesheet" type="text/css" href="js/lbs/selsect/select.zmr.css" />
	<script type="text/javascript" src="js/config/config.js"></script>
</head>

<body id="skin-cloth">
<div id="c-container-body" style="height: 100%;">
	<header id="header" class="media">
		<a href="" id="menu-toggle"></a>
		<a class="logo pull-left" href="index.html">咖啡蜗后台管理系统</a>

		<div class="media-body">
			<div class="media" id="top-menu">
				<div id="time" class="pull-right">
					<span id="hours"></span> :
					<span id="min"></span> :
					<span id="sec"></span>
				</div>

				<div class="media-body" style="line-height:39px;">
					<!-- <input type="text" class="main-search"> -->
					广东圆梦实业发展有限公司
				</div>
			</div>
		</div>
	</header>

	<div class="clearfix"></div>

	<section id="main" class="p-relative" role="main">

		<!-- Sidebar -->
		<aside id="sidebar">

			<!-- Sidbar Widgets -->
			<div class="side-widgets overflow">
				<!-- Profile Menu -->
				<div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
					<a href="" data-toggle="dropdown">
						<img class="profile-pic animated" src="img/1516775224.jpg" alt="">
					</a>
					<ul class="dropdown-menu profile-menu">
					</ul>
					<h4 class="m-0" id="usAdministration">Admin</h4>
					<span id="Administration"></span>
				</div>

				<!-- Calendar -->
				<div class="s-widget m-b-25">
					<div id="sidebar-calendar"></div>
				</div>

			</div>

			<!-- Side Menu -->
			<ul class="list-unstyled side-menu" id="J_menuatch">

			</ul>

		</aside>

		<!-- Content -->
		<section id="content" class="container">

			<!-- Table Striped -->
			<div class="block-area" id="tableStriped">
				<h3 style="font-size:16px;">设备应用更新</h3>
				<form class="form-horizontal m-t" method="post" role="form" id="vision">
					<div class="form-group">
						<label class="col-sm-1 control-label">使用配方</label>
						<div class="col-sm-8">
							<select id="machineType" class="col-sm-12" value="" style="height:34px;background:none;border:1px solid rgba(255, 255, 255, 0.3);">
								<option value="1">大型柜式机</option>
								<option value="2">小型桌面机</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label">
                                <span style="text-align:center;width:112px;margin-left:14px;font-size:14px;">
                                    版本号
                                </span>
                            </label>
						<label class="col-sm-2 control-label" style="font-size:14px;">
                                <input type="text" id="mUpdateVersion" name="mUpdateVersion" style="width:200px;background:none;border:1px solid rgba(0,0,0,0.3);height:27px;">
                            </label>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label">
                                <span style="text-align:center;width:112px;margin-left:14px;font-size:14px;">
                                    版本序列号
                                </span>
                            </label>
						<label class="col-sm-2 control-label" style="font-size:14px;">
                                <input type="text" id="versionCode" name="versionCode" style="width:200px;background:none;border:1px solid rgba(0,0,0,0.3);height:27px;">
                            </label>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label">
                                <span style="text-align:center;width:112px;margin-left:14px;font-size:14px;">
                                    版本说明
                                </span>
                            </label>
						<label class="col-sm-2 control-label" style="font-size:14px;">
                                <input type="text" id="mUpdateDes" name="mUpdateDes" style="width:200px;background:none;border:1px solid rgba(0,0,0,0.3);height:27px;">
                            </label>
					</div>

					<div class="form-group overflow" style="margin-left:14px;">
						<!-- <label class="col-sm-1 control-label"></label> -->
						<div class="col-sm-8">
							<div class="col-sm-4" style="background:rgba(0,0,0,0.3);width:366px;height:217px;text-align:center;">
								<img src="" alt="" id="mUpdateUrl_img" style="height:200px;">
								<span class="btn btn-primary pbtn" onclick="jzm.updateFile({type:4,id:['#mUpdateUrl_img','#mUpdateUrl_file','#mUpdateUrl'],format:'apk'})" style="margin-top:90px;">选择本地包</span>
								<input type="file" class="form-control" accept=".apk" id="mUpdateUrl_file" name="mUpdateUrl_file" style="display:none;" value="">
								<input type="hidden" class="form-control" id="mUpdateUrl" name="mUpdateUrl" style="display:none;" value="">
								<!-- <span id="logs" class="clearfix" style="text-align:center;">请先填写版本号，再上传</span> -->
							</div>
						</div>
					</div>
					<div class="form-group overflow" style="margin-left:14px;">
						<div class="col-sm-4" style="margin-top:5px;">
							<span class="btn btn-primary" onclick="jzm.manageMachineVersion()">确认升级</span>
						</div>
					</div>
				</form>

				<div class="table-responsive overflow">
					<table class="tile table table-bordered table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>版本号</th>
								<th>版本序列号</th>
								<th>上传日期</th>
								<th>版本说明</th>
								<th>设备类型</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="tbodyhtml">

						</tbody>
					</table>
					<!-- page -->
					<div class="col-sm-6"></div>
					<div id="pageTool" class="col-sm-6"></div>
					<input type="hidden" id="pageNums" value="" />
				</div>
			</div>
		</section>
		<br/><br/>
	</section>
</div>
	<!-- Javascript Libraries -->
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Library -->

	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>

	<!-- UX -->
	<script src="js/scroll.min.js"></script>
	<!-- Custom Scrollbar -->

	<!-- Other -->
	<script src="js/calendar.min.js"></script>
	<!-- select -->
        <script type="text/javascript" src="js/lbs/selsect/select.zmr.js"></script>
	<!-- Calendar -->
	<script type="text/javascript" src="js/config/lbs_base.js"></script>
	<!-- All JS functions -->
	<script src="js/functions.js"></script>
	<!-- page all -->
	<script type="text/javascript" src="page/query.js"></script>
	<script type="text/javascript" src="page/paging.js"></script>
</body>

</html>