<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">

        <meta name="description" content="Violate Responsive Admin Template">
        <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

        <title>广东圆梦实业发展有限公司</title>

        <!-- CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/form.css" rel="stylesheet">
        <link href="css/calendar.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/icons.css" rel="stylesheet">
        <link href="css/generics.css" rel="stylesheet">
        <link rel="icon" href="img/bitbug_favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="page/paging.css" />
        <script type="text/javascript" src="js/config/config.js"></script>
    </head>
    <body id="skin-cloth">

        <header id="header" class="media">
            <a href="" id="menu-toggle"></a>
            <a class="logo pull-left" href="index.html">咖啡蜗后台管理系统</a>

            <div class="media-body">
                <div class="media" id="top-menu">
                    <div id="time" class="pull-right">
                        <span id="hours"></span>
                        :
                        <span id="min"></span>
                        :
                        <span id="sec"></span>
                    </div>

                    <div class="media-body" style="line-height:39px;">
                        <!-- <input type="text" class="main-search"> -->
                        广东圆梦实业发展有限公司
                    </div>
                </div>
            </div>
        </header>

        <div class="clearfix"></div>

        <section id="main" class="p-relative" role="main">

            <!-- Sidebar -->
            <aside id="sidebar">

                <!-- Sidbar Widgets -->
                <div class="side-widgets overflow">
                    <!-- Profile Menu -->
                    <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
                        <a href="" data-toggle="dropdown">
                            <img class="profile-pic animated" src="img/1516775224.jpg" alt="">
                        </a>
                        <ul class="dropdown-menu profile-menu">
                        </ul>
                        <h4 class="m-0" id="usAdministration">Admin</h4>
                        <span id="Administration"></span>
                    </div>

                    <!-- Calendar -->
                    <div class="s-widget m-b-25">
                        <div id="sidebar-calendar"></div>
                    </div>

                </div>

                <!-- Side Menu -->
                <ul class="list-unstyled side-menu" id="J_menuatch">

                </ul>

            </aside>

            <!-- Content -->
            <section id="content" class="container">

                <!-- Table Striped -->
                <div class="block-area" id="tableStriped">
                    <h3 class="block-title" style="font-size:14px;"> 积分明细</h3>

                    <div style="margin:3px 20px;">
                        <span class="block-title" style="font-size:12px;width:112px;text-align:center;margin-right:10px;">用户名</span>

                        <input type="text" id="integName" style="width:200px;background:none;border:1px solid rgba(0,0,0,0.3);height:27px;" />

                        <span class="block-title" id="seach" style="font-size:12px;padding: 3px 12px;margin-left:45px;cursor:pointer;" onclick="this.setAttribute('data-type','unity');jzm.findIntegralLogList()">搜索</span>
                    </div>

                    <div style="margin:0 20px;" class="ui_action">
                        <div class="block-title" style="font-size:12px;width:112px;text-align:center;margin-right:10px;">兑换对象</div>
                        <span class="block-title spanaction" data-unity="integralType, ,findIntegralLogList" style="font-size:12px;padding: 3px 12px;cursor:pointer;">不限</span>
                        <span class="block-title spannoaction" data-unity="integralType,5,findIntegralLogList" style="font-size:12px;padding: 3px 12px;cursor:pointer;">优惠券</span>
                        <span class="block-title spannoaction" data-unity="integralType,4,findIntegralLogList" style="font-size:12px;padding: 3px 12px;cursor:pointer;">兑换码</span>
                    </div>
                    <input type="hidden" id="integralType" name="integralType" />
                    <div style="margin:3px 20px;">
                        <span class="block-title" id="income" style="font-size:12px;width:130px;text-align:center;margin-right:10px;">
                        </span>
                        <span class="block-title" id="total" style="font-size:12px;width:130px;text-align:center;margin-right:10px;">
                        </span>
                        <span class="block-title" id="expend" style="font-size:12px;width:130px;text-align:center;margin-right:10px;">
                        </span>
                    </div>

                    <div class="table-responsive overflow">
                        <table class="tile table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>用户名</th>
                                    <th>兑换对象</th>
                                    <th>种类</th>
                                    <th>兑换时间</th>
                                    <th>花费</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyhtml">

                            </tbody>
                        </table>
                        <!-- page -->
                        <div class="col-sm-6" id="page"></div>
                        <div id="pageTool" class="col-sm-6"></div>
                        <input type="hidden" id="pageNums" value="" />
                    </div>
                </div>
            </section>
            <br/><br/>
        </section>

        <!-- Javascript Libraries -->
        <!-- jQuery -->
        <script src="js/jquery.min.js"></script> <!-- jQuery Library -->

        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>

        <!-- UX -->
        <script src="js/scroll.min.js"></script> <!-- Custom Scrollbar -->
        <script src="js/calendar.min.js"></script> <!-- Calendar -->

        <script type="text/javascript" src="js/lbs/poundgift.js"></script>
        <!-- All JS functions -->
        <script src="js/functions.js"></script>
        <!-- page all -->
        <script type="text/javascript" src="page/query.js"></script>
        <script type="text/javascript" src="page/paging.js"></script>
    </body>
</html>
