<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="共享咖啡管理后台">
    <meta name="keywords" content="yuanmeng,ym,圆梦,系统,后台系统,咖啡蜗,蜗牛,大正集团">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../public/stylesheets/plugin/element.min.css">
    <script src="../../public/javascripts/plugin/vue.js"></script>
    <script src="../../public/javascripts/plugin/element.min.js"></script>

    <title>广东圆梦实业发展有限公司</title>
</head>


<body class="_scrollbar">
    <div id="c-container-list" style="height: 100%;" data-uri="material_log_list">
        <el-container>
            <el-main>
                <el-form>
                    <el-input placeholder="请输入内容" v-model="searchVal" class="_searchVal">
                        <el-select v-model="searchName" class="_searchVal_select" slot="prepend" placeholder="请选择">
                            <el-option label="商户/机器编号" value="name"></el-option>
                        </el-select>
                    </el-input>

                    <div class="_search_centent" v-show="more">
                        <el-button>类型</el-button>
                        <el-select v-model="select" slot="prepend" placeholder="请选择">
                            <el-option label="不限" value="typeId:"></el-option>
                            <el-option label="后台制作记录" value="typeId:1"></el-option>
                            <el-option label="下单制作记录" value="typeId:2"></el-option>
                        </el-select>
                    </div>

                    <div class="_search_centent" v-show="more">
                        <div class="block">
                            <el-date-picker v-model="dateLog" type="daterange" range-separator="至"
                                start-placeholder="开始日期" end-placeholder="结束日期">
                            </el-date-picker>
                        </div>
                    </div>

                    <div class="more_search el-icon-circle-plus-outline" v-show="!more" @click="more = !more"> 更多搜索条件
                    </div>
                    <div class="more_search el-icon-remove-outline" v-show="more" @click="more = !more"> 收起 </div>

                    <el-button icon="el-icon-search" class="_search_btn"
                        @click="list(searchName,searchVal,select,dateLog)">搜索
                    </el-button>
                </el-form>

                <template>

                    <el-table :data="tableData" stripe style="width: 100%">
                        <el-table-column prop="materialLogId" label="ID"></el-table-column>
                        <el-table-column prop="machineNumber" label="设备编号"></el-table-column>
                        <el-table-column prop="adminName" label="商户名称"></el-table-column>

                        <el-table-column prop="productId" label="产品ID"></el-table-column>

                        <el-table-column prop="productName" label="产品名称"></el-table-column>
                        <el-table-column prop="orderId" label="订单ID">
                            <template slot-scope="scope">
                                <el-popover trigger="hover" placement="top">
                                    <p>订单号: {{ scope.row.orderId }}</p>
                                    <div slot="reference" class="name-wrapper">
                                        <el-tag size="medium">
                                            {{ `...` + scope.row.orderId.substr(scope.row.orderId.length - 8,scope.row.orderId.length) }}
                                        </el-tag>
                                    </div>
                                </el-popover>
                            </template>
                        </el-table-column>
                        <el-table-column prop="createTime" label="创建时间"></el-table-column>
                        <el-table-column prop="materialDeductionList" label="扣减详情"></el-table-column>
                    </el-table>
                </template>

                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage" :page-sizes="[10, 20, 30, 40]" :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper" :total="total">
                </el-pagination>
            </el-main>
        </el-container>
    </div>
</body>

</html>