<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="共享咖啡管理后台">
    <meta name="keywords" content="yuanmeng,ym,圆梦,系统,后台系统,咖啡蜗,蜗牛,大正集团">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../public/stylesheets/plugin/element.min.css">
    <script src="../../public/javascripts/plugin/vue.js"></script>
    <script src="../../public/javascripts/plugin/element.min.js"></script>

    <title>广东圆梦实业发展有限公司</title>
</head>

<body class="_scrollbar">
    <div id="c-container-list" style="height: 100%;" data-uri="manage_poi" data-asset="/manage/smallLocationConfig.html"
        data-goback="../smallLocationConfig.html" v-loading.fullscreen.lock="loading" data-search="manage_poi">
        <el-container>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="经度" prop="machineLongitude">
                    <el-input v-model="ruleForm.machineLongitude" class="w400" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="纬度" prop="machineLatitude">
                    <el-input v-model="ruleForm.machineLatitude" class="w400" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="机器编号" prop="adminId">
                    <template>
                        <el-transfer v-model="ruleForm.machineNumber" :props="{
                                    key: 'value',
                                    label: 'desc'
                                  }" :data="SearchAsyncMachineNumber" @change="autoTransfers" :titles="['未选择', '已选择']">
                        </el-transfer>
                    </template>
                </el-form-item>
                <el-form-item label="选择地区" prop="province">
                    <el-cascader size="large" :options="address" v-model="ruleForm.province" @change="handleChange">
                    </el-cascader>
                </el-form-item>
                <el-form-item label="详细地址" prop="addr">
                    <el-input v-model="ruleForm.addr" class="w400"></el-input>
                </el-form-item>
                <el-form-item label="显示状态">
                    <template>
                        <el-radio-group v-model="ruleForm.hide">
                            <el-radio :label="0">显示</el-radio>
                            <el-radio :label="1">隐藏</el-radio>
                        </el-radio-group>
                    </template>
                </el-form-item>
                <el-form-item label="图片">
                    <div style="float: left;margin-right:20px;">
                        <template v-model="ruleForm.machineUrl">
                            <small>大楼外景图</small>
                            <el-upload :action="fileUpdata" list-type="picture-card"
                                :limit="num" :data="fileData" :file-list="imageList.machineUrl" :on-change="fileChange"
                                :on-success="machineUrlSuccess" :on-exceed="fileExceed"
                                :on-preview="handlePictureCardPreview" :on-remove="handleRemove">
                                <i class="el-icon-plus"></i>
                            </el-upload>
                            <el-dialog :visible.sync="dialogVisibleData">
                                <img width="100%" :src="dialogImageUrl" alt="">
                            </el-dialog>
                        </template>
                    </div>
                    <div>
                        <template v-model="ruleForm.mapMarkerIcon">
                            <small>地图图标</small>
                            <el-upload :action="fileUpdata" list-type="picture-card"
                                :limit="num" :data="fileData" :file-list="imageList.mapMarkerIcon"
                                :on-change="filePicChange" :on-success="mapMarkerSuccess" :on-exceed="fileExceed"
                                :on-preview="handlePictureCardPreview" :on-remove="handleRemove">
                                <i class="el-icon-plus"></i>
                            </el-upload>
                            <el-dialog :visible.sync="dialogVisible">
                                <img width="100%" :src="dialogImageUrl" alt="">
                            </el-dialog>
                        </template>
                    </div>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="submitForm(ruleForm)">提交</el-button>
                </el-form-item>

                <div id="cityg" style="height:500px;width:40%;margin-top:10px;position: fixed;top: 60px;right: 60px;">
                </div>
            </el-form>

        </el-container>

    </div>

    <style>
        #cityg img {
            width: 40px;
        }
    </style>
    <!-- 加载地图JSAPI脚本 -->
    <script
        src="https://webapi.amap.com/maps?v=1.4.10&key=97434082798d9b20459f18d679bcbdf3&plugin=AMap.Geocoder"></script>
    <script type="text/javascript"
        src="https://a.amap.com/jsapi_demos/static/demo-center/js/underscore-min.js"></script>
    <script type="text/javascript" src="https://a.amap.com/jsapi_demos/static/demo-center/js/backbone-min.js"></script>
    <script type="text/javascript" src='https://a.amap.com/jsapi_demos/static/demo-center/js/prety-json.js'></script>

</body>

</html>