<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">

        <meta name="description" content="Violate Responsive Admin Template">
        <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

        <title>广东圆梦实业发展有限公司</title>

        <!-- CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/form.css" rel="stylesheet">
        <link href="css/calendar.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/icons.css" rel="stylesheet">
        <link href="css/generics.css" rel="stylesheet">
        <link rel="icon" href="img/bitbug_favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="js/config/config.js"></script>
    </head>
    <body id="skin-cloth">

        <header id="header" class="media">
            <a href="" id="menu-toggle"></a>
            <a class="logo pull-left" href="index.html">咖啡蜗后台管理系统</a>

            <div class="media-body">
                <div class="media" id="top-menu">
                    <div id="time" class="pull-right">
                        <span id="hours"></span>
                        :
                        <span id="min"></span>
                        :
                        <span id="sec"></span>
                    </div>

                    <div class="media-body" style="line-height:39px;">
                        <!-- <input type="text" class="main-search"> -->
                        广东圆梦实业发展有限公司
                    </div>
                </div>
            </div>
        </header>

        <div class="clearfix"></div>

        <section id="main" class="p-relative" role="main">

            <!-- Sidebar -->
            <aside id="sidebar">

                <!-- Sidbar Widgets -->
                <div class="side-widgets overflow">
                    <!-- Profile Menu -->
                    <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
                        <a href="" data-toggle="dropdown">
                            <img class="profile-pic animated" src="img/1516775224.jpg" alt="">
                        </a>
                        <ul class="dropdown-menu profile-menu">
                        </ul>
                        <h4 class="m-0" id="usAdministration">Admin</h4>
                        <span id="Administration"></span>
                    </div>

                    <!-- Calendar -->
                    <div class="s-widget m-b-25">
                        <div id="sidebar-calendar"></div>
                    </div>

                </div>

                <!-- Side Menu -->
                <ul class="list-unstyled side-menu" id="J_menuatch">

                </ul>

            </aside>

            <!-- Content -->
            <section id="content" class="container">

                <!-- Table Striped -->
                <div class="block-area" id="tableStriped">
                <div class="ibox-title">
                    <h5>编辑等级</h5>
                </div>
                    <div class="ibox-content" style="margin-top:100px;">
                        <form id="AddUser" class="form-horizontal m-t" method="post" role="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">会员名称</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="memberRuleName" name="memberRuleName" type="text" value="">
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">会员等级</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="memberLevel" name="memberLevel" type="text">
                                </div>
                            </div>
                           <div class="form-group">
                                <label class="col-sm-2 control-label">持续时间/月</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="duration" name="duration" type="text">
                                    <!--<input type="hidden" name="payMoney" />-->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">开通金额</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="payMoney" name="payMoney" type="text" value="">
                                    <!--<input type="hidden" name="disposableRecharge" />-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">折扣金额</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="discount" name="discount" maxlength="2" type="text" value="" >
                                </div>
                            </div>
							
							
							<div class="form-group">
                                <label class="col-sm-2 control-label">开始时间</label>
                                <div class="col-sm-5">
                                    <input class="form-control" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd H:m:s'})" placeholder="选择日期" id="discountsStartTime" name="discountsStartTime" type="text" value="" >
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-sm-2 control-label">结束时间</label>
                                <div class="col-sm-5">
                                    <input class="form-control" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd H:m:s'})" placeholder="选择日期"  id="discountsEndTime" name="discountsEndTime" type="text" value="" >
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">发放流量ML</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="milliliter" name="milliliter" type="text" value="" >
                                </div>
                            </div>
                            
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">额外流量ML</label>
                                <div class="col-sm-5">
                                    <img class="radio-inline" id="memberPicUrl_img" height="200px" src="">
                                    <span class="btn btn-primary pbtn" style="margin:20px;" onclick="jzm.updateFile({type:3,id:['#memberPicUrl_img','#memberPicUrl_file','#memberPicUrl'],format:'i'})">选择文件</span>
                                    <input type="file" class="form-control" accept="image/jpeg,image/png" id="memberPicUrl_file" name="productMachine_picurl_file" style="display:none;" value="">
                                    <input type="hidden" class="form-control" id="memberPicUrl" name="memberPicUrl" style="display:none;" value="">
                                </div>
                            </div>
							
							
                            <div class="form-group" style="margin-top:40px;">
                                <div class="col-sm-1 col-sm-offset-1">

                                </div>
                                <div class="col-sm-1">
                                    <span class="block-title" style="padding: 6px 25px;cursor:pointer;" onclick="jzm.EnitmanageMemberLevel('u')">确定</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <br/><br/>
        </section>

        <!-- Javascript Libraries -->
        <!-- jQuery -->
        <script src="js/jquery.min.js"></script> <!-- jQuery Library -->
        <script type="text/javascript" src="js/My97DatePicker/WdatePicker.js"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>

        <!-- UX -->
        <script src="js/scroll.min.js"></script> <!-- Custom Scrollbar -->

        <!-- Other -->
        <script src="js/calendar.min.js"></script> <!-- Calendar -->
        <!-- adv -->
        <script type="text/javascript" src="js/lbs/advertModels.js"></script>
        <!-- All JS functions -->
        <script src="js/functions.js"></script>
        <script type="text/javascript">
          jzm.EnitmanageMemberLevel();
        </script>
    </body>
</html>
