<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="共享咖啡管理后台">
    <meta name="keywords" content="yuanmeng,ym,圆梦,系统,后台系统,咖啡蜗,蜗牛,大正集团">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../public/stylesheets/plugin/element.min.css">
    <script src="../../public/javascripts/plugin/vue.js"></script>
    <script src="../../public/javascripts/plugin/element.min.js"></script>

    <title>广东圆梦实业发展有限公司</title>
</head>

<body class="_scrollbar">
    <div id="c-container-list" style="height: 100%;" data-uri="add_or_update_draw_raffle"
        data-asset="/manage/turntableConf.html" v-loading.fullscreen.lock="loading" data-goback="../turntableConf.html">
        <el-container>
            <el-main>
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="标题" prop="title">
                        <el-input v-model="ruleForm.title" class="w400"></el-input>
                    </el-form-item>

                    <el-form-item label="活动时间" prop="startTime">
                        <el-date-picker v-model="ruleForm.startTime" type="daterange" align="right" unlink-panels
                            range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"
                            :picker-options="pickerOptions">
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item label="转盘类型" prop="raffleType">
                        <el-radio-group v-model="ruleForm.raffleType">
                            <el-radio :label="1">通用版</el-radio>
                            <el-radio :label="2" style="margin: 0 10px">机器版</el-radio>
                            <el-radio :label="3">网页版</el-radio>
                        </el-radio-group>
                    </el-form-item>

                    <el-form-item label="时间单位" prop="timeUnit">
                        <el-radio-group v-model="ruleForm.timeUnit">
                            <el-radio :label="-1">无限制</el-radio>
                            <el-radio :label="1" style="margin: 0 10px">周期</el-radio>
                            <el-radio :label="2" style="margin: 0 10px">年</el-radio>
                            <el-radio :label="3" style="margin: 0 10px">月</el-radio>
                            <el-radio :label="4" style="margin: 0 10px">周</el-radio>
                            <el-radio :label="5">日</el-radio>
                        </el-radio-group>
                    </el-form-item>

                    <el-form-item label="抽奖次数" prop="limitCount">
                        <el-input v-model="ruleForm.limitCount" class="w400"></el-input>
                    </el-form-item>

                    <el-form-item label="状态" prop="status">
                        <el-radio-group v-model="ruleForm.status">
                            <el-radio :label="1" style="margin: 0 10px">上架</el-radio>
                            <el-radio :label="0">下架</el-radio>
                        </el-radio-group>
                    </el-form-item>

                    <el-form-item label="优惠产品" prop="couponRange">
                        <el-table :data="tableData" style="width: 50%" height="300px">
                            <el-table-column type="index"></el-table-column>
                            <el-table-column prop="itemName" label="奖品名称"></el-table-column>
                            <el-table-column prop="itemType" label="奖品类型"></el-table-column>
                            <el-table-column prop="objectId" label="奖品对象"></el-table-column>
                            <el-table-column prop="isMember" label="首重"></el-table-column>
                            <el-table-column prop="probability" label="获奖概率"></el-table-column>
                            <el-table-column>
                                <template slot-scope="scope">
                                    <el-button type="text" size="small"
                                        @click="dialogVisible = true">
                                        编辑
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div style="margin-top: 20px">
                            <el-button @click="setCurrent()">增加奖品</el-button>
                        </div>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="submitForm(ruleForm)">立即创建</el-button>
                    </el-form-item>
                </el-form>


                <el-dialog title="添加奖品" :visible.sync="dialogVisible">
                    <el-form :model="formData" label-width="100px">
                        <el-form-item label="账号">
                            <el-input v-model="formData.adminName"></el-input>
                        </el-form-item>
                        <el-form-item label="密码">
                            <el-input v-model="formData.adminPwd" show-password></el-input>
                        </el-form-item>
                        <el-form-item label="所属角色">
                            <el-select v-model="formData.roleId" placeholder="选择类型">
                                <el-option v-for="item in [{value: 2, label: '系统管理员'},{value: 3, label: '商户管理员'}]"
                                    :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="真实姓名">
                            <el-input v-model="formData.realName"></el-input>
                        </el-form-item>
                        <el-form-item label="客服电话">
                            <el-input v-model="formData.adminMobile"></el-input>
                        </el-form-item>
                        <el-form-item label="用户描述">
                            <el-input v-model="formData.named" type="textarea"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="adminSubmit({en: 'post', formData, uri: 'manage_user'})">
                                提交</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>

            </el-main>
        </el-container>
    </div>
</body>

</html>