html,body{
	height: 100%;
	background: rgb(42, 45, 53);
}
body{
	min-width: 320px;
	overflow: hidden;
}
/** login **/
.login{
	position: absolute;
	top: 18%;
	left: 33%;
	background: rgba(0,0,0,0.5);
	padding:30px;
	box-sizing: border-box;
}
.login-img{
	width: 25%;
	height: 25%;
	text-align: center;
	margin: 0 auto;
}
.login-img img{
	width: 100%;
}
.login-form{
	color: #fff;
}
.login-form h2{
	text-align: center;
	font-size: 1.8rem;
}
.login-form .login-input{
	overflow: hidden;
	width: 80%;
	margin: 30px auto;
}
.login-form input[type=text],.login-form input[type=password]{
	width: 84%;
	border: 0;
	border-bottom: 1px solid #fff;
	background: none;
	line-height: 40px;
	font-size: 1.6rem;
	float: right;
}
.login-form .login-input span{
	margin-top: 10px;
	display: inline-block;
	width:35px;
	height: 2.6rem;
	background: url(/manageCode/src/public/images/icons/land-icon.png) no-repeat;
	background-size: 100%;
	float: left;
}
.login-form .login-input span{
	background-position:0 -31px;
}
.login-form .login-pwd span{
	background-position:0 0;
}
.login-remeber{
	margin-left: 23%;
}
.coffeeLogin{
	position: relative;
	width: 40%;
	margin: 5% 30%;
	height: 30px;
	text-align: center;
}


/*loading active*/

.k-ball7a {
	border: 0;
	margin: 0;
	width: 8px;
	height: 8px;
	position: absolute;
	border-radius: 50% !important;
	animation: k-loading 2s ease infinite;
	background: #19A68C;
	animation-delay: -1.5s
}

.k-ball7b {
	border: 0;
	margin: 0;
	width: 8px;
	height: 8px;
	position: absolute;
	border-radius: 50% !important;
	animation: k-loading 2s ease infinite;
	background: #F63D3A;
	animation-delay: -1s
}

.k-ball7c {
	border: 0;
	margin: 0;
	width: 8px;
	height: 8px;
	position: absolute;
	border-radius: 50% !important;
	animation: k-loading 2s ease infinite;
	background: #FDA543;
	animation-delay: -0.5s
}

.k-ball7d {
	border: 0;
	margin: 0;
	width: 8px;
	height: 8px;
	position: absolute;
	border-radius: 50% !important;
	animation: k-loading 2s ease infinite;
	background: #193B48
} 

/*module*/ 
.module{
	max-width: 400px;
	padding: 2% 3%;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 50%;
	left: 50%;
}
